<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <% if(displayError){ %>
    <br>
    <div class="user-message user-message__error">
        <%= displayError %>
    </div>
    <% } %>
    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
            method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title"
                    value="<% if (editing) { %><%= product.title %><% } else { %> <%=oldInput.title%> <% } %>"
                    class="form-control <%= validationErrors.find(e=>e.param === 'title') ? 'invalid' : '' %>">
            </div>
            <!-- <div class="form-control">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" 
                            name="imageUrl" 
                            id="imageUrl" 
                            value="<% if (editing) { %><%= product.imageUrl %><% }else { %> <%=oldInput.imageUrl %> <% } %>"
                            class="<%= validationErrors.find(e=>e.param === 'imageUrl') ? 'invalid' : '' %>">
                            
                    </div> -->
            <div class="form-group">
                <div class="custom-file">
                    <input id="image" class="custom-file-input" type="file" name="image">
                    <label for="image" class="custom-file-label">Image</label>
                </div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.05"
                    value="<% if (editing) { %><%= product.price %><% }else { %> <%= oldInput.price %> <% } %>"
                    class="form-control <%= validationErrors.find(e=>e.param === 'price') ? 'invalid' : '' %>">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"
                    class="form-control <%= validationErrors.find(e=>e.param === 'description') ? 'invalid' : '' %>">
                            <% if (editing) { %><%= product.description %><% }else { %> <%= oldInput.description %> <% } %>
                        </textarea>
            </div>
            <% if (editing) { %>
            <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-outline-primary btn-sm" type="submit"><% if (editing) { %>Update Product<% } else { %>Add
                Product<% } %></button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>