<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-md-10">
            <nav aria-label="Products pagination navs">
                <ul class="pagination">
                    <% if(currentPage !== 1 && previousPage !== 1){%>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page=1">1</a>
                    </li>
                    <%}%>
                    <% if(hasPrevious){%>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a>
                    </li>
                    <% } %>
                    <li class="page-item active">
                        <a class="page-link" href="?page=<%= currentPage %>"><%= currentPage %></a>
                    </li>
                    <% if(hasNext){%>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a>
                    </li>
                    <%}%>
                    <% if(lastPage != currentPage && lastPage != nextPage){%>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= lastPage %>"><%= lastPage %></a>
                    </li>
                    <%}%>
                </ul>
            </nav>
        </div>
    </div>
</div>